**Python Basic Terms**


*   Syntax (Valid & Invalid)
*   Comments

In [ ]:
a = 'Sai'    # This is my name
print(a)

Sai

**Python Data Types, Type Casting & Variables**


*   **Text Type:**	str
*   **Numeric Types:**	int, float
*   **Sequence Types:**	list, tuple, range
*   **Mapping Type:**	dict
*   **Set Types:**	set
*   **Boolean Type:**	bool

In [ ]:
student1 = ('Rishika', 21, 90.2)    # Cannot modify it
student2 = ['Rishika', 21, 90.2]    # Can modify it
student3 = {'Rishika', 21, 90.2}    # Random Output

In [ ]:
type(student3)

set

In [ ]:
student = {'Name':'Rishika', 'Age': 21, 'Percent':90.2}

In [ ]:
bool(0)

False

**Python Operators**

*   Arithmetic operators
*   Assignment operators
*   Comparison operators
*   Logical operators
*   Membership operators

In [ ]:
# Arithmetic Operators (+,-,*,/,%,**)                        # Used with numeric values to perform common mathematical operations

x = 5
y = 8

print(x+y, x-y, x*y, x/y, x%y, x**y)

13 -3 40 0.625 5 390625

In [ ]:
# Assignment Operators (=,+=,-=,*=,/=,%=,**=)                # Used to assign values to variables

x, y = 5, 8

# print(x = y, x += y, x -= y, x *= y, x %= y, x /= y, x **= y)

x -= y       # x = x - y
x *= y       # x = x * y

In [ ]:
# Comparison Operators (==,!=,<,>,<=,>=)                     # Used to compare two values

# print(x == y, x != y, x < y, x > y, x <= y, x >= y)
x, y = 5, 8

x > y

False

In [ ]:
# Logical Operators (==,!=,<,>,<=,>=)                        # Used to combine conditional statements

# print(x and y, x or y, not y)

not((x < y) or (x == y))
# (x < y) or (x == y)

False

In [ ]:
# Membership Operators (==,!=,<,>,<=,>=)                     # Used to test if a sequence is presented in an object

# print(x in y, x not in y)

x = [1,2,3,4,5]
y = 6

y not in x

True