<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [ ]:
# create empty list, name it 'a'
a = []

In [ ]:
# print the value of a

print(a)

[]

In [ ]:
# print the type of a
print(type(a))

<class 'list'>

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [ ]:
languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [ ]:
len(languages)

5

Using for loop iterate and print all the elements in the list

In [ ]:
for i in range(len(languages)):
  print(languages[i])

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [ ]:
temp = languages[1]

Print the value of temp and type(temp)

In [ ]:
print(temp)
print(type(temp))

Python
<class 'str'>

Append the element 'Java' in the list

In [ ]:
languages.append('Java')

Remove the element 42 from the list and print the list

In [ ]:
languages.remove(42)
print(languages)

['R', 'Python', 'SAS', 'Scala']

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [ ]:
colors = ['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [ ]:
colors.append('Black')

Append the color 'Orange' to second position (index=1) and print the list

In [ ]:
colors.insert(1,'Orange')

Print the list

In [ ]:
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [ ]:
colors2 = ['Grey','Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [ ]:
colors.extend(colors2)

Print len of colors and its elements

In [ ]:
print(len(colors))
print(colors)

7
['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [ ]:
colors.sort()

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [ ]:
sent = 'Coronavirus Caused Lockdowns Around The World.'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [ ]:
words = sent.split(' ')
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [ ]:
words_lower = list(map(lambda x: x.lower(), words))
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‚Äòcountry‚Äô is in the list

In [ ]:
if 'country' in words_lower:
  print('Yes')
else: 
  print('No')

No

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [ ]:
words_lower.remove('the')

In [ ]:
words_lower

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [ ]:
x4 = words_lower[:4]
x4

['coronavirus', 'caused', 'lockdowns', 'around']

In [ ]:
# print x4
print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [ ]:
joined = ' '.join(words_lower)

In [ ]:
print(joined)

coronavirus caused lockdowns around world.

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [ ]:
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [ ]:
len(stud_grades)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [ ]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [ ]:
print(stud_grades_set)

{'A', 'F', 'C', 'B'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [ ]:
print(type(stud_grades))
print(stud_grades)
print(type(stud_grades_set))
print(stud_grades_set)

<class 'list'>
['A', 'A', 'B', 'C', 'C', 'F']
<class 'set'>
{'A', 'F', 'C', 'B'}

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [ ]:
stud_grades_set.add('G')
print(stud_grades_set)

{'F', 'C', 'A', 'G', 'B'}

Add element 'F' to stud_grades_set. and print it.

In [ ]:
stud_grades_set.add('F')
print(stud_grades_set)

{'F', 'C', 'A', 'G', 'B'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [ ]:
stud_grades_set.remove('F')
print(stud_grades_set)

{'C', 'A', 'G', 'B'}

Print the elements and the length of stud_grades_set

In [ ]:
print(stud_grades_set)
len(stud_grades_set)

{'C', 'A', 'G', 'B'}

4

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [ ]:
colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [ ]:
print(colors, fruits)

['red', 'blue', 'orange'] ['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [ ]:
colors_set = set(colors)
fruits_set = set(fruits)

Find the union of both the sets.

In [ ]:
fruits_set.union(colors_set)

{'apples', 'blue', 'grapes', 'orange', 'red'}

Find the intersection of both the sets

In [ ]:
fruits_set.intersection(colors_set)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [ ]:
fruits_set.difference(colors_set)

{'apples', 'grapes'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [ ]:
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [ ]:
for i in range(len(temp)):
  print(temp[i])

17
Virat
50.0

replace first element with 11 in temp

In [ ]:
temp[0] = 11
print(temp)

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [ ]:
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [ ]:
i = 0
while i < len(temp1):
  print(temp1[i])
  i += 1

11
Virat
50.0

replace first element with 17 in temp1

In [ ]:
temp1.update(11,17)

AttributeError: ignored

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [ ]:
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [ ]:
city[0]

'Bangalore'

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [ ]:
city2 = ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [ ]:
cities = (("Bangalore", 28.9949521, 72), ('Chennai', 30.01, 74))

Print cities

In [ ]:
cities

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [ ]:
type(cities[0])

tuple

print the type of cities

In [ ]:
type(cities)

tuple

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [ ]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [ ]:
d[0]

KeyError: ignored

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [ ]:
d['actor']

'amir'

Print the type of actor

In [ ]:
type(d['actor'])

str

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [ ]:
List = d['list']
List

[23, 32, 12]

Print the type of List.

In [ ]:
type(List)

list

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [ ]:
d1 = { 'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}

Merge d1 into d.

In [ ]:
d.update(d1)

print d

In [ ]:
d

{'actor': 'amir',
 'animal': 'cat',
 'earth': 2,
 'list': [23, 32, 12],
 'singer': 'Kr$na',
 'album': 'Still here',
 'genre': 'hip-hop'}

Print all the keys in d

In [ ]:
d.keys()

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [ ]:
d.values()

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [ ]:
for key in d:
  print( key, '---->', d[key])

actor ----> amir
animal ----> cat
earth ----> 2
list ----> [23, 32, 12]
singer ----> Kr$na
album ----> Still here
genre ----> hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [ ]:
s = {}
sent = sent.lower()
for i in sent:
  if i in s:
    s[i] += 1
  else:
    s[i] = 1
for key in s:
  print(key, '-->', s[key] )

c --> 3
o --> 6
r --> 4
n --> 3
a --> 3
v --> 1
i --> 1
u --> 3
s --> 3
  --> 5
e --> 2
d --> 4
l --> 2
k --> 1
w --> 2
t --> 1
h --> 1
. --> 1

dict_keys(['c', 'o', 'r', 'n', 'a', 'v', 'i', 'u', 's', ' ', 'e', 'd', 'l', 'k', 'w', 't', 'h', '.'])