# <center>Pandas Assignment</center>

Import pandas and numpy with their aliases

In [3]:

import numpy as np
import pandas as pd

Create a variable a = pd.Series([ 100, 200, 300, 400])

In [35]:
# a =
a = pd.Series ([100, 200, 300, 400])

Print a, and data type

In [36]:

print(a)
type(a)

0    100
1    200
2    300
3    400
dtype: int64

pandas.core.series.Series

Using indexing access the element 300 from the series a.

In [37]:
a[2]

300

What are the values of index for series a?

In [38]:
a.index

RangeIndex(start=0, stop=4, step=1)

Change the index to  ['c', 'a', 'b', 'd']

In [39]:
a = pd.Series ([100, 200, 300, 400], index = ['c','a','b','d']) 
print(a)

c    100
a    200
b    300
d    400
dtype: int64

Access the value in the series with index 'd'

In [40]:
a['d']

400

Sort the values wrt to the index and print it

In [41]:
a.sort_index()

a    200
b    300
c    100
d    400
dtype: int64

Create a new Pandas Series b having index as 'e', 'f', and 'g' and value 800,450,100 and print it

In [42]:
# b = 
b = pd.Series([800, 450, 100], index = ['e', 'f', 'g'])
print(b)

e    800
f    450
g    100
dtype: int64

Append b series at the end of a series

In [43]:
# a =
a = a.append(b)
print(a)

c    100
a    200
b    300
d    400
e    800
f    450
g    100
dtype: int64

In [44]:
#print a again after appending b into it
a

c    100
a    200
b    300
d    400
e    800
f    450
g    100
dtype: int64

Sort the values in descending order of a and print the index of the sorted series

In [45]:
# a = 
a.sort_index(ascending=False)

g    100
f    450
e    800
d    400
c    100
b    300
a    200
dtype: int64

In [46]:
a

c    100
a    200
b    300
d    400
e    800
f    450
g    100
dtype: int64

## Pandas DataFrame

### Part 1

Create a pandas dataframe df from the series 'a' that we used in the last section, print the dataframe

In [47]:
# df = 
df = pd.DataFrame(a)
df

     0
c  100
a  200
b  300
d  400
e  800
f  450
g  100

In [48]:
df.shape

(7, 1)

What is the shape of the datafarme <br>
(also, what does it imply?)

In [49]:

df.shape

(7, 1)

Hey! remember shape (7,1) implies dataframe has 7 rows and 1 column.

What is the index of the dataframe, is it same as the series 'a'

In [50]:
# yep its same as the series.
df.index

Index(['c', 'a', 'b', 'd', 'e', 'f', 'g'], dtype='object')

print the head and tail of the dataframe. <br>
Additional - (what does head and tali represent?)

In [55]:
df.head()
#df.head(1)

     0
c  100
a  200
b  300
d  400
e  800

In [56]:
#df.tail(1)
df.tail()

     0
b  300
d  400
e  800
f  450
g  100

Rename the column of the dataframe as 'points'

In [59]:
df.columns = ['points']
df

   points
c     100
a     200
b     300
d     400
e     800
f     450
g     100

Create another Series 'fruits', which contains random names of fruits from ['orange','mango','apple']. The series should contain 7 elements, randomly selected from ['orange','mango','apple']

In [60]:
#Create fruits array

fruits = ['orange', 'mango', 'apple', 'orange', 'orange', 'apple', 'mango']

In [62]:
#Create series fruits out of fruits array

fruits = pd.Series(fruits)
fruits

0    orange
1     mango
2     apple
3    orange
4    orange
5     apple
6     mango
dtype: object

Change the index of fruits to the index of dataframe df

In [64]:
df = pd.DataFrame(fruits)
df

        0
0  orange
1   mango
2   apple
3  orange
4  orange
5   apple
6   mango

Add this fruits series as a new column to the dataframe df with its column name as 'fruits'
<br>print the head of the dataframe to verify

In [67]:
df.columns = ['fruits']
df.head()

   fruits
0  orange
1   mango
2   apple
3  orange
4  orange

## Pandas Concatenation

Create a dataframe  d1 where the cols are  ‘city’ : [‘Chandigarh’, ‘Delhi’, ‘Kanpur’, ‘Chennai’, ‘Manali’ ] and ‘Temperature’ : [15, 22, 20, 26,-2]

In [4]:
d1 = pd.DataFrame({'city': ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'],
                   'Temperature': [15, 22, 20, 26, -2]}) 
d1

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

Print(d1)

In [5]:
d1

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

What is the shape of d1.

In [6]:
d1.shape

(5, 2)

Set city = d1['city']

In [7]:
#d1.columns = ['d1[city]', 'Temperature']
#d1.rename(columns = {'city' : 'd1[city]'}, inplace = True)
city = d1['city']

print city <br>
What is the type of city.

In [8]:
print(city)
type(city)

0    Chandigarh
1         Delhi
2        Kanpur
3       Chennai
4        Manali
Name: city, dtype: object

pandas.core.series.Series

Create another datafeame 'd2' where the columns are <br>
'city' - ['Bengalaru','Coimbatore','Srirangam','Pondicherry'] <br>
'Temperature' - [24,35,36,39]

In [9]:
# d2 = 
d2 = pd.DataFrame({'city': ['Banglaru', 'Coimbatore', 'Srirangam', 'Pondicherry'],
                   'Temperature': [24, 35, 36, 39]})
d2

          city  Temperature
0     Banglaru           24
1   Coimbatore           35
2    Srirangam           36
3  Pondicherry           39

print the shape of this dataframe

In [10]:

d2.shape

(4, 2)

merge the two dataframes together, save it in a new dataframe named 'd3'

In [11]:
# d3 = 
d3 = pd.concat([d1, d2], axis =0, ignore_index = True)
#d3 = pd.concat([d1, d2], axis =0, ignore_index = True).reset_index()
d3

          city  Temperature
0   Chandigarh           15
1        Delhi           22
2       Kanpur           20
3      Chennai           26
4       Manali           -2
5     Banglaru           24
6   Coimbatore           35
7    Srirangam           36
8  Pondicherry           39

Select the part of the dataframe such that it contains cities wherer temp is less then or equal to 20 <br>
How many cities are there?

In [12]:

d3[d3['Temperature'] <= 20][['city']]

         city
0  Chandigarh
2      Kanpur
4      Manali

Select the part of the dataframe such that it contains the cities where tempearature greater than or equal to 35

In [13]:
d3[d3['Temperature'] >= 35][['city']]

          city
6   Coimbatore
7    Srirangam
8  Pondicherry

## Applying functions to columns and creating new columns

We need to create another column in d3, which contains  a boolean value for each city to indicate whether it's a union territory or not. 
- HINT: Chandigarh, Pondicherry and Delhi are only 3 union territories here.

In [69]:
# write function here
ut = ['Chandigarh', 'Pondicherry', 'Delhi']
def is_ut(x):
  
  u = []
  #print(x)
  for i in x:
    if i in ut:
      u.append('True')
    else:
      u.append('False')
  return u
      
    
d3['is_ut'] = is_ut(d3['city'])

In [70]:
# print d3
d3

          city  Temperature  is_ut  temp_farenhiet
0   Chandigarh           15   True            59.0
1        Delhi           22   True            71.6
2       Kanpur           20  False            68.0
3      Chennai           26  False            78.8
4       Manali           -2  False            28.4
5     Banglaru           24  False            75.2
6   Coimbatore           35  False            95.0
7    Srirangam           36  False            96.8
8  Pondicherry           39   True           102.2

The temperatures mentioned in ‘Temperature’ column are mentioned in Celsius, we need another column which contains the same in Fahrenheit.

HINT - 
- Define a function c_to_f which takes input temp in celsius and returns a value with temperature in Fahrenheit.
- To check: c_to_f(10) should return 50.

In [63]:
# write function here
def c_to_f(x):
  f = (x * (9/5)) + 32 
  return f

In [64]:
# check function c_to_f(10)
c_to_f(10)

50.0

In [67]:
# apply function c_to_f to d3 to create a column 'temp_farenhiet'

d3['temp_farenhiet'] = c_to_f(d3['Temperature'])
d3

          city  Temperature  is_ut  temp_farenhiet
0   Chandigarh           15   True            59.0
1        Delhi           22   True            71.6
2       Kanpur           20  False            68.0
3      Chennai           26  False            78.8
4       Manali           -2  False            28.4
5     Banglaru           24  False            75.2
6   Coimbatore           35  False            95.0
7    Srirangam           36  False            96.8
8  Pondicherry           39   True           102.2

## Indexing and selecting rows in DataFrame

Select subset of the dataframe d1 such that it contains the cities which are union territories.

In [87]:
d1['temp_Farenheit'] = c_to_f(d1['Temperature'])
d1

         city  Temperature  temp_Farenheit
0  Chandigarh           15            59.0
1       Delhi           22            71.6
2      Kanpur           20            68.0
3     Chennai           26            78.8
4      Manali           -2            28.4

In [82]:
def union_territory(x):
  return x in ['Chandigarh', 'Delhi', 'Puducherry']

d1_subset = d1[d1['city'].apply(union_territory)]

print(d1_subset)

         city  Temperature
0  Chandigarh           15
1       Delhi           22

Select a subset of the dataframe d1 such that it contains the cities which only have temperature above 90 Farenhiet.

In [83]:
d1[d1['Temperature'].apply(c_to_f) > 90 ]

Empty DataFrame
Columns: [city, Temperature]
Index: []

Select only the first three rows of the dataframe d1.

In [88]:
d1.head(3)

         city  Temperature  temp_Farenheit
0  Chandigarh           15            59.0
1       Delhi           22            71.6
2      Kanpur           20            68.0

Select all the rows and last two columns in the dataframe.

In [89]:
d1.tail(2)

      city  Temperature  temp_Farenheit
3  Chennai           26            78.8
4   Manali           -2            28.4

## Groupby

In [95]:
# Create a dataframe using dictionary of your choice

data = pd.DataFrame ({
    'Name' : ['Ankit', 'Aishwarya', 'Shaurya', 'Shivangi'],
    'Age' : [23, 21, 22, 21],
    'University' : ['BHU', 'JNU', 'DU', 'BHU'],
})

In [97]:
# Use Groupby of single column with aggregate sum()
data.groupby(['University'])[['Age']].sum()

            Age
University
BHU          44
DU           22
JNU          21

In [101]:
# Use Groupby of single column with aggregate count()
data.groupby(['University'])[['Name']].count()

            Name
University
BHU            2
DU             1
JNU            1

In [107]:
# Use Groupby of single column with aggregate min() and max()

min = data.groupby(['Age'])[['Name']].min()
max = data.groupby(['Age']).max()
print(min, max)

          Name
Age
21   Aishwarya
22     Shaurya
23       Ankit          Name University
Age
21   Shivangi        JNU
22    Shaurya         DU
23      Ankit        BHU

In [108]:
# Use Groupby of any 2 columns with aggregate mean()
data.groupby(['Age'])[['University']].mean()

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  exec(code_obj, self.user_global_ns, self.user_ns)

Empty DataFrame
Columns: []
Index: [21, 22, 23]

In [109]:
# Use Groupby of any 2 columns with aggregate min() and max()
min = data.groupby(['Age'])[['Name']].min()

## Data Range

Create a pandas daterange where starting date is 1st of January,2020 and end date is 1st of April 2021, store it in a new variable named 'a'

In [116]:
a = pd.date_range(start='2020-01-01', end='2021-04-01')

print a

In [117]:
a

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26',
               '2021-03-27', '2021-03-28', '2021-03-29', '2021-03-30',
               '2021-03-31', '2021-04-01'],
              dtype='datetime64[ns]', length=457, freq='D')

What is the len of a?

In [118]:

len(a)

457

What is the type of a?

In [119]:

type(a)

pandas.core.indexes.datetimes.DatetimeIndex