# Tuple
They are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable.
It is written with round brackets.

In [ ]:
fruits = ("apple", "banana", "cherry")                           # Standard Method
print(fruits)

('apple', 'banana', 'cherry')

In [ ]:
fruits

['apple', 'banana', 'cherry', 'pineapple']

In [ ]:
fruits = ("apple", "banana", "cherry","banana")                  # Allows Duplicates
print(fruits)

('apple', 'banana', 'cherry', 'banana')

In [ ]:
# Count() Method

nums = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

nums.count(5)

2

In [ ]:
# Index() Method

nums = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

nums.index(4)

6

In [ ]:
# Min() & Max() Method

nums = (0, 3, 7, 99, 7, 5, 4, 6, 8, 5)

# min(nums)
max(nums)

99

# Dictionary
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [ ]:
car = {"brand": "Ford","model": "Mustang","year": 1964}

# Get() Method
car.get("brand")

# items() Method
car.items()

# key() Method
car.keys()

# values() Method
car.values()

dict_values(['Ford', 'Mustang', 1964])

In [ ]:
# pop() Method

car.pop("year")
print(car)

# popitem() Method

car.popitem()
print(car)

{'brand': 'Ford', 'model': 'Mustang'}
{'brand': 'Ford'}

In [ ]:
# update() Method

car.update({"color": "White"})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

In [ ]:
# clear() Method

car.clear()
print(car)

{}

In [ ]:
car

{}

# Set
Sets are used to store multiple items in a single variable.

Sets are written with curly brackets.

In [ ]:
fruits = {"apple", "banana", "cherry"}

# add()

fruits.add("orange")
print(fruits)

# pop()

fruits.pop()
print(fruits)

# remove()

fruits.remove("banana")
print(fruits)

{'cherry', 'orange', 'banana', 'apple'}
{'orange', 'banana', 'apple'}
{'orange', 'apple'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

# difference()

print(y.difference(x))

{'google', 'microsoft'}

In [ ]:
# intersection()

print(x.intersection(y))

{'apple'}

In [ ]:
# union()

print(x.union(y))

{'banana', 'microsoft', 'google', 'cherry', 'apple'}

In [ ]:
# upate()

x.update(y)
print(x)

{'banana', 'microsoft', 'google', 'cherry', 'apple'}